{% extends "BoutiqueApp/base.html" %}
{% load static %}
{% block title %}Login | Amanda Mateo Boutique{% endblock %}
{% block content %}
<div class="container my-5 card-auth-sm">
  <div class="card shadow-sm p-4 card-auth">
    <h2 class="text-center mb-4 text-primary-pink">Iniciar Sesión</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-pink w-100">Iniciar Sesión</button>
    </form>
      <p>¿No tienes cuenta? <a href="{% url 'registrar' %}" style="color: #b76e79;">Regístrate aquí</a></p>
    </div>
  </div>
</div>
{% endblock %}
