{% extends "BoutiqueApp/base.html" %} {% block content %}
<div class="container text-center my-5">
  <div class="card shadow-sm p-4 mx-auto card-auth card-auth-sm">
    <h2 class="text-primary-pink">Cerrar Sesión</h2>
    <p class="lead mt-3 mb-4">
      ¿Estás seguro de que deseas salir de tu cuenta?
    </p>
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-pink px-4">Cerrar Sesión</button>
      <a href="{% url 'index' %}" class="btn btn-secondary ms-2">Volver</a>
    </form>
  </div>
</div>
{% endblock %}
