{% extends 'BoutiqueApp/base.html' %} {% load static %} {% block content %}
<div class="container my-5 card-auth-md">
  <div class="card shadow-sm p-4 card-auth">
    <h2 class="text-center mb-4 text-primary-pink">Crear una Cuenta</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.username.id_for_label }}" class="form-label"
          >Nombre de Usuario</label
        >
        {{ form.username }}
      </div>
      <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label"
          >Correo Electrónico</label
        >
        {{ form.email }}
      </div>
      <div class="mb-3">
        <label for="{{ form.password1.id_for_label }}" class="form-label"
          >Contraseña</label
        >
        {{ form.password1 }}
      </div>
      <div class="mb-3">
        <label for="{{ form.password2.id_for_label }}" class="form-label"
          >Confirmar Contraseña</label
        >
        {{ form.password2 }}
      </div>
      <button type="submit" class="btn btn-pink w-100">Registrarse</button>
    </form>
    <hr />
    <div class="text-center">
      <p>
        ¿Ya tienes cuenta?
        <a href="{% url 'login' %}" class="link-pink">Inicia Sesión</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
