{% extends "BoutiqueApp/base.html" %} {% load static %} {% block content %}
<div class="container py-5">
  <h2 class="text-pink fw-bold mb-4 text-center">
    Editar Configuración de IVA
  </h2>
  <form method="POST" class="mx-auto card-auth-sm">
    {% csrf_token %} {{ form.as_p }}
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-pink btn-sm me-2">Guardar</button>
      <a
        href="{% url 'listar_configuraciones_iva' %}"
        class="btn btn-editar btn-sm"
        >Volver</a
      >
    </div>
  </form>
</div>
{% endblock %}
