{% extends "BoutiqueApp/base.html" %} {% block content %}
<div class="container my-5">
  <div class="card shadow-lg mx-auto border-0 rounded-4 card-auth card-auth-md">
    <div class="card-header text-center fw-bold text-pink fs-5 bg-pink-lighter">
      Confirmar Eliminación
    </div>
    <div class="card-body text-center">
      <h5>¿Estás seguro de que deseas eliminar este movimiento?</h5>
      <p class="mt-3">
        <strong>Fecha:</strong> {{ movimiento.fecha|date:"d/m/Y" }}<br />
        <strong>Descripción:</strong> {{ movimiento.descripcion }}<br />
        <strong>Monto:</strong> {{ movimiento.moneda }} {{ movimiento.monto|floatformat:2 }}
      </p>
      <div class="d-flex justify-content-center gap-3 mt-4">
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-eliminar px-4 py-2">
            Eliminar
          </button>
        </form>
        <a
          href="{% url 'listar_movimientos' %}"
          class="btn btn-volver px-4 py-2"
          >Volver</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
