{% extends "BoutiqueApp/base.html" %} {% block title %}Eliminar Cliente | Amanda
Mateo Boutique{% endblock %} {% block content %}
<div class="container py-5">
  <div
    class="card shadow-lg mx-auto border-pink rounded-lg card-auth-md"
    style="background-color: #fff5fa"
  >
    <div
      class="card-header text-center bg-pink-lighter text-primary-pink font-weight-bold rounded-top-18"
    >
      Confirmar Eliminación
    </div>

    <div class="card-body text-center px-4 py-4">
      <p class="fs-5 text-dark">
        ¿Estás seguro que deseas eliminar al cliente:<br />
        <strong class="text-primary-pink"
          >{{ clientes.nombre }} ({{ clientes.identificacion }})</strong
        >?
      </p>

      <p class="text-muted mb-4">Esta acción no se puede deshacer.</p>

      <form method="POST" class="d-flex justify-content-center gap-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-eliminar px-4 py-2">
          Sí, eliminar
        </button>

        <a href="{% url 'clientes_list' %}" class="btn btn-volver px-4 py-2"
          >Volver</a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
