{% extends "BoutiqueApp/base.html" %} {% block content %}
<div class="container my-5">
  <div class="card shadow-lg border-pink rounded-lg">
    <div
      class="card-header text-center bg-pink-soft text-primary-pink-bold"
      style="font-size: 1.5rem"
    >
      Detalles del Proveedor
    </div>
    <div class="card-body p-3 p-md-4 px-md-5">
      <div class="row mb-3">
        <div class="col-12 col-md-4">
          <strong>Código del Proveedor:</strong>
        </div>
        <div class="col-12 col-md-8">{{ proveedores.codigo_proveedor }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4"><strong>Nombre:</strong></div>
        <div class="col-12 col-md-8">{{ proveedores.nombre }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4"><strong>Contacto:</strong></div>
        <div class="col-12 col-md-8">{{ proveedores.contacto }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4"><strong>RIF:</strong></div>
        <div class="col-12 col-md-8">{{ proveedores.rif|default:"-" }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4"><strong>Teléfono:</strong></div>
        <div class="col-12 col-md-8">{{ proveedores.telefono }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4"><strong>Email:</strong></div>
        <div class="col-12 col-md-8">{{ proveedores.email }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4"><strong>Dirección:</strong></div>
        <div class="col-12 col-md-8">{{ proveedores.direccion }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-4"><strong>Fecha de Registro:</strong></div>
        <div class="col-12 col-md-8">{{ proveedores.fecha_creacion }}</div>
      </div>
      <div class="text-center mt-4">
        <a
          href="{% url 'proveedores_update' proveedores.codigo_proveedor %}"
          class="btn btn-editar px-4 py-2 me-2"
          >Editar</a
        >
        <a href="{% url 'proveedores_list' %}" class="btn btn-volver">Volver</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
