{% extends "BoutiqueApp/base.html" %} {% block content %}
<div class="container my-5">
  <div class="card shadow-lg mx-auto border-pink rounded-lg card-auth-md">
    <div
      class="card-header text-center bg-pink-lighter text-primary-pink text-2xl font-bold"
    >
      Confirmar Eliminación
    </div>
    <div class="card-body text-center">
      <p class="lead">
        ¿Estás seguro que deseas eliminar al proveedor:<br />
        <strong class="text-primary-pink"
          >{{ object.nombre_empresa }} ({{ proveedores.codigo_proveedor }})</strong
        >?
      </p>
      <p class="text-muted">Esta acción no se puede deshacer.</p>
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-eliminar px-4 py-2">
          Sí, eliminar
        </button>
        <a href="{% url 'proveedores_list' %}" class="btn btn-volver px-4 py-2"
          >Volver</a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
